@font-face{
    font-family: "HindSiliguriLight";
    src: url(./fonts/Hind_Siliguri/HindSiliguri-Light.ttf);
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.App{
    font-family: 'HindSiliguriLight', sans-serif;
}